@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('Gilroy-Extraboldd41dd41d.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold.woff') format('woff'),
    url('Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('Gilroy-Blackd41dd41d.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regulard41dd41d.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Boldd41dd41d.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('Gilroy-Heavyd41dd41d.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Heavy.woff') format('woff'),
    url('Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
