@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Mona-Sans-Light";
        src: url("/images/fonts/Mona-Sans-Light.woff2") format("woff2"), url("/images/fonts/Mona-Sans-Light.woff") format("woff");
    }
}

.gradient-text{
    background: -webkit-linear-gradient(360deg, rgba(59,88,163,1) 0%, rgba(114,187,239,1) 50%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: none !important;
}


